---
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
	return [{ params: { slug: "1" } }];
}) satisfies GetStaticPaths;

import { Image } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";
const blog = await getEntry("blog", "ab");

const { Content, headings, remarkPluginFrontmatter } = await render(blog);
---
<div>

    <Content/>
    

</div>


