---
import Boxes from "../components/Boxes.astro";
import GoldenSpiral from "../components/GoldenSpiral.astro";
import JuliaBackground from "../components/JuliaBackground.astro";
import LandingBoxes from "../components/LandingBoxes.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
  <LandingBoxes />
  <div class="p-6 bg-slate-100 text-black" slot="footer" >
  Singapore Company Entity, PeraPera Private Limited
    <p>
  Fractal Box  © All Rights Reserved.
  </p>
<p>
Contact Us
Singapore Office: 7 TEMASEK BOULEVARD, #12-07, SUNTEC TOWER ONE, Singapore 038987
 </p>
</Layout>

