---
const { content, subSection, children } = Astro.props;
console.log('subSection', subSection, children)
---

<div class="container mx-auto p-6 text-slate-800 max-w-[800px]">
  <div class="grid grid-cols-1 gap-6 pb-6">
    <div class="h-[400px] bg-white flex flex-col gap-4 items-center justify-center text-lg text-center font-light text-xl  px-24 py-24 rounded-lg shadow-lg">
       <content.Content />
    </div>
  </div>

   <div class="grid grid-cols-5 gap-6">
   
     <div class="bg-white  flex flex-col col-span-3 items-center justify-center text-lg font-semibold rounded-lg shadow-lg p-4">
        <div class="text-slate-500">
          {content.frontmatter.b2subtitle}
        </div>    
        <div>
          {content.frontmatter.b2content}
        </div>
    </div>
     <div class="bg-white  flex flex-col col-span-1 items-center justify-center text-lg font-semibold rounded-lg shadow-lg">
      {content.frontmatter.metric}
    </div>
    <div class="bg-white  flex flex-col col-span-1 items-center justify-center text-lg font-semibold rounded-lg shadow-lg">
      {content.frontmatter.metric}
    </div>
     <div class="bg-white  flex items-center col-span-5 justify-center text-lg font-semibold rounded-lg shadow-lg p-4">
         <slot name="box2" class="h-[300px]" />
    </div>

  </div>
  
</div>