<div class="container mx-auto p-6 text-slate-800">
  <div class="grid grid-cols-1 gap-6 pb-6">
    <div class="h-[400px] bg-white  flex items-center justify-center text-lg font-semibold rounded shadow-lg">
      We are a small team of ex-founders building applications with AI and decentralized technologies
    </div>
  </div>

   <div class="grid grid-cols-2 gap-6">
    <div class="bg-white  flex items-center justify-center text-lg font-semibold rounded shadow-lg">
      Box 1
    </div>
     <div class="bg-white  flex items-center justify-center text-lg font-semibold rounded shadow-lg">
      Box 1
    </div>
     <div class="bg-white  flex items-center justify-center text-lg font-semibold rounded shadow-lg">
      Box 1
    </div>
  </div>
  
</div>