---
const { content } = Astro.props;

import * as TeamProfile from "../content/landing/team-profile.md";
import Member from "./Member.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const clients = await getCollection("client").then((collection) =>
	collection.sort((a, b) => a.data.order - b.data.order),
);
interface Props {
	imagePath: string;
}

const logoPaths = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif}",
);
---


<div class="grid grid-cols-5 gap-6">
    <div class="col-span-5 text-center">
        <h2>Companies we work with</h2>

    </div>
    <div class="flex flex-row  col-span-5 m-auto p-2  gap-4 text-center justify-center items-center">
        {
            clients.map(
                (client, index)=>(
                <div class="">
                    <Image class={"w-24 "+clients[index].data.logoClass} src={logoPaths[`/${clients[index].data.logoSrc}`]()} alt="" />
                </div>    
                
                )
            )
        }
    </div>
</div>