---
const { content } = Astro.props;

import { Image } from "astro:assets";
import { getCollection } from "astro:content";

const clients = await getCollection("client").then((collection) =>
	collection.sort((a, b) => b.data.order - a.data.order),
);
interface Props {
	imagePath: string;
}

const logoPaths = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/*.{jpeg,jpg,png,gif,svg}",
);
---


<div class="grid grid-cols-5 gap-6">
    <div class="col-span-5 text-center">
        <h2>Companies we work with</h2>

    </div>
    <div class="flex flex-row flex-wrap col-span-5 m-auto p-2 gap-2 md:gap-4 text-center justify-center items-center">
        {
            clients.map(
            ({data:{logoClass, logoSrc}})=>(
                <div class="max-w-24">
                    <Image class={"w-24 md:w-24 "+logoClass} src={logoPaths[`/${logoSrc}`]()} alt="" />
                </div>    
                )
            )
        }
    </div>
</div>