---
import { getCollection } from "astro:content";
import Boxes from "../components/Boxes.astro";

import TeamBox from "../components/TeamBox.astro";
import SocialBox from "../components/SocialBox.astro";

import * as Intro from "../content/landing/intro.md";

import * as PublicGoods from "../content/landing/pg.md";
import * as Team from "../content/landing/team.md";

import * as Web3 from "../content/landing/web3.md";

console.log(Intro.frontmatter);
---

<div class="flex flex-col gap-4">
w
<div>
<Boxes content={Intro} >

  <p slot="box2">
    <SocialBox />
  </p>

    </Boxes>
</div>

<div>
<Boxes content={Web3} />
</div>


<div>
    <Boxes content={Team} >
      <p slot="box2">
        <TeamBox /></p>
    </Boxes>
</div>


<div>
<Boxes content={PublicGoods} />
</div>

</div>

