---

const { name, title, avatar } = Astro.props;
---


<div>
        <div class="flex w-full">
                <img  class="w-24 h-24 rounded-full" src={avatar}  />
        </div>

            
                <div class="p-2 justify-center items-center w-full font-semibold">
                        {name}
                </div>
                <div class="p-2 justify-center items-center w-full font-semibold text-slate-500">
                        {title}
                </div>
        </div>
        </div>

</div>