<div>

    <div>

      <ul class="flex gap-4">
        <li>
          <a href="https://x.com/fractaldotbox" target="_blank">X: @fractalboxdev</a>

        </li>
        <li>
          <a href="https://www.linkedin.com/company/fractalboxdev/" target="_blank">Linkedin: Fractal Box</a>
          
          
        </li>
        </ul>
    
     </div>
</div>