---
const { content } = Astro.props;

import * as TeamProfile from "../content/landing/team-profile.md";
import Member from "./Member.astro";
console.log("TeamProfile", TeamProfile);
---


<div
    Team box
    <div class="flex flex row">

<div class="flex flex-col">

<div>
    <Member title={TeamProfile.frontmatter.m1Title} avatar={TeamProfile.frontmatter.m1Image} />
</div>
<div>
    <Member title={TeamProfile.frontmatter.m2Title} avatar={TeamProfile.frontmatter.m2Image} />
</div>
</div>

</div>
    
    
    </div>
   
</div>